.btn{
    padding:10px 20px;
}

.button{
    max-width: 12rem;
    height: 2.8rem;
    border-radius: 1.4rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.6rem;
}
.shop-button{
    font-size: 1.5rem;
    font-weight: 700;
    color: $black-color;
    background: $white-color;
}