//navbar
.nav-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    .right {
        // font-family: $primary-font;
        display: flex;
        align-items: center;
    }
    li {
        display: flex;
        cursor: pointer;
        a {
            font-size: 1.7rem;
            line-height: 1.7;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
           i,
            .material-icon {
                height: unset;
                display: inline-flex;
                line-height: unset;
                align-items: center;
                justify-content: center;
            }
            i{
                font-size: 19px;
                line-height: 1;
            }
        }      
    }
}


.nav{
    &-shop-btn{
background-color: #097115;
margin-right: 2rem;
padding: 0.63rem 1.33rem 0.7rem 0.98rem;
border-radius: 0.4rem;
&:hover{
    background-color: #43cc53e5;
    color: black;
}
    }
    &-sign-btn{
background-color: #E2B00E;
padding: 0.63rem 1.82rem 0.7rem 0.98rem;
border-radius: 0.4rem;

&:hover{
    background-color: #ceaf4b;
    color: black;
}

    }
}
